<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856127622284-phu7k3ejh2h34smmqj97flm0t9qse078.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856127622284-phu7k3ejh2h34smmqj97flm0t9qse078</string>
	<key>API_KEY</key>
	<string>AIzaSyCd8YdIhn2svcp7hfa2WwZm_EnZzaM8JHg</string>
	<key>GCM_SENDER_ID</key>
	<string>856127622284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stockkey</string>
	<key>PROJECT_ID</key>
	<string>stockkey-c58de</string>
	<key>STORAGE_BUCKET</key>
	<string>stockkey-c58de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856127622284:ios:7113f1fcd83b1017523fa9</string>
</dict>
</plist>